
body{
    background-color: #8c00a8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft-perfil{
    border-radius: 50%;
    margin-top: 15px;
    width: 15%;
}

.nome{
    font-size: 52x;
    font-weight: bold;
    color: #b90e52;
}

.subtitulo{
    font-size: 20px;
    color:  #b90e52;
    font-weight: bold;
    margin-bottom: 28px;
}

.titulo-card{
    font-size: 28px;
    color:#b90e52;
}

.subtitulo-card{
    font-size: 15px;
    color: #b90e52;
    font-weight: bold;
}

.cards button{
    background: none;
    width: 350px;
    height: 200px;
    margin-bottom: 14px;
    margin-left: 7px;
    margin-right: 7px;
    border: 4px solid rgb(102, 62, 62);
    border-color: #b90e52;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 3px 3px 5px #000000;
}

.cards button:hover{
    background: #ffffff;
}

.cards-top{
    display: flex;
    flex-direction: row;
}

.cards-bottom{
    display: flex;
    flex-direction: row;
}